In [1]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel('Naver_news.xlsx')

In [3]:
df.head()

                     title  year  month  day      time  source  page
0  2007년부터 폐수배출기준 업종별 차등적용  2004      2   25  17:09:00  파이낸셜뉴스     0
1  2007년부터 폐수배출기준 업종별 차등적용  2004      2   25  17:09:00  파이낸셜뉴스     0
2  2007년부터 폐수배출기준 업종별 차등적용  2004      2   25  17:09:00  파이낸셜뉴스     0
3  2007년부터 폐수배출기준 업종별 차등적용  2004      2   25  17:09:00  파이낸셜뉴스     0
4  2007년부터 폐수배출기준 업종별 차등적용  2004      2   25  17:09:00  파이낸셜뉴스     0

In [4]:
text = df['title']

In [5]:
text[:5]

0    2007년부터 폐수배출기준 업종별 차등적용
1    2007년부터 폐수배출기준 업종별 차등적용
2    2007년부터 폐수배출기준 업종별 차등적용
3    2007년부터 폐수배출기준 업종별 차등적용
4    2007년부터 폐수배출기준 업종별 차등적용
Name: title, dtype: object

#### wordcloud 라이브러리 설치

In [1]:
from konlpy.tag import Okt, Kkma, Komoran #형태소 분석
from collections import Counter #빈도수 세기
from wordcloud import WordCloud

In [2]:
ok = Okt()
kkma = Kkma()
kom = Komoran()

C:\Users\dlarh\AppData\Roaming\Python\Python37\site-packages\jpype\_core.py:209: UserWarning:
-------------------------------------------------------------------------------
Deprecated: convertStrings was not specified when starting the JVM. The default
behavior in JPype will be False starting in JPype 0.8. The recommended setting
for new code is convertStrings=False.  The legacy value of True was assumed for
this session. If you are a user of an application that reported this warning,
please file a ticket with the developer.
-------------------------------------------------------------------------------

  """)