In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('train_regression.csv')

In [3]:
df.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [14]:
for i in df['지역'].unique():
    print(i, df[df['지역'] == i].shape[0],(df[df['지역'] == i].shape[0] - df[df['지역'] == i]['임대보증금'].isna().sum()) / df[df['지역'] == i].shape[0])

경상북도 119 1.0
경상남도 369 0.7371273712737128
대전광역시 266 0.5488721804511278
경기도 621 1.0
전라북도 109 1.0
강원도 187 0.8342245989304813
광주광역시 141 1.0
충청남도 158 0.5189873417721519
부산광역시 328 0.32926829268292684
제주특별자치도 91 0.7252747252747253
울산광역시 36 1.0
충청북도 163 1.0
전라남도 151 1.0
대구광역시 102 1.0
서울특별시 64 1.0
세종특별자치시 47 1.0

In [15]:
df = df.dropna()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2306 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2306 non-null   object
 1   총세대수                          2306 non-null   int64
 2   임대건물구분                        2306 non-null   object
 3   지역                            2306 non-null   object
 4   공급유형                          2306 non-null   object
 5   전용면적                          2306 non-null   float64
 6   전용면적별세대수                      2306 non-null   int64
 7   공가수                           2306 non-null   float64
 8   자격유형                          2306 non-null   object
 9   임대보증금                         2306 non-null   object
 10  임대료                           2306 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2306 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2306 non-null   float64
 13  단지내주차면수                       2306 non-null   float64
 14  등록차량수                         2306 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 288.2+ KB

In [21]:
df['임대보증금'] = df['임대보증금'].replace('-',0)
df['임대료'] = df['임대료'].replace('-',0)

In [22]:
df['임대보증금'] = df['임대보증금'].astype(int)
df['임대료'] = df['임대료'].astype(int)

In [76]:
df = df.drop('자격유형', axis = 1)

In [77]:
df.describe()

,총세대수,전용면적,전용면적별세대수,공가수,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2306.000000,2306.000000,2306.000000,2306.000000,2.306000e+03,2.306000e+03,2306.000000,2306.000000,2306.000000,2306.000000
mean,797.883781,44.548781,124.356895,14.385082,2.698797e+07,1.950181e+05,0.136167,3.688638,679.942758,651.590199
std,435.402022,13.122639,134.611928,10.572424,2.177525e+07,1.316506e+05,0.402403,2.710023,388.828018,411.236575
min,26.000000,16.020000,2.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,13.000000,13.000000
25%,492.000000,36.640000,36.250000,7.000000,1.448700e+07,1.105300e+05,0.000000,2.000000,385.000000,359.000000
50%,731.000000,46.600000,87.000000,13.000000,2.102400e+07,1.613550e+05,0.000000,3.000000,629.000000,571.000000
75%,1006.000000,51.827500,164.000000,21.000000,3.268950e+07,2.374775e+05,0.000000,4.000000,894.000000,826.000000
max,2568.000000,84.990000,1865.000000,55.000000,2.164230e+08,1.058030e+06,3.000000,20.000000,1798.000000,2550.000000

In [78]:
df1 = pd.get_dummies(df.iloc[:,1:])

In [79]:
X = df1[df1.columns.difference(['등록차량수'])]
y = df1['등록차량수']

In [80]:
from sklearn.ensemble import RandomForestRegressor

In [81]:
from sklearn.model_selection import GridSearchCV, KFold

In [82]:
rf_param_grid = {
    'n_estimators': [100, 150, 200, 250],
    'max_depth': [None, 6, 9, 12],
    'min_samples_split': [0.01, 0.05, 0.1],
    'max_features': ['auto', 'sqrt'],
}

In [83]:
rf = RandomForestRegressor()
kf = KFold(random_state = 0,
          n_splits = 10,
          shuffle = True)

In [84]:
rf_grid_search = GridSearchCV(estimator = rf,
                          param_grid = rf_param_grid,
                          cv = kf,
                          n_jobs = -1,
                          verbose = 2)

In [85]:
rf_grid_search.fit(X, y)

Fitting 10 folds for each of 96 candidates, totalling 960 fits

GridSearchCV(cv=KFold(n_splits=10, random_state=0, shuffle=True),
             estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [None, 6, 9, 12],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_split': [0.01, 0.05, 0.1],
                         'n_estimators': [100, 150, 200, 250]},
             verbose=2)

In [86]:
rf_grid_search.best_params_

{'max_depth': None,
 'max_features': 'auto',
 'min_samples_split': 0.01,
 'n_estimators': 100}

In [87]:
test_df = pd.read_csv('test.csv')

In [88]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

In [89]:
test_df = test_df.dropna()

In [90]:
test_df['임대보증금'] = test_df['임대보증금'].replace('-',0)
test_df['임대료'] = test_df['임대료'].replace('-',0)

In [91]:
test_df['임대보증금'] = test_df['임대보증금'].astype(int)
test_df['임대료'] = test_df['임대료'].astype(int)

In [92]:
test_df = test_df.drop('자격유형', axis = 1)

In [93]:
test_x = pd.get_dummies(test_df.iloc[:,1:])

In [96]:
test_x.columns

Index(['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)', '도보 10분거리 내 버스정류장 수', '단지내주차면수',
       '임대건물구분_아파트', '지역_강원도', '지역_경기도', '지역_경상남도', '지역_경상북도', '지역_광주광역시',
       '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_세종특별자치시', '지역_울산광역시', '지역_전라남도',
       '지역_전라북도', '지역_제주특별자치도', '지역_충청남도', '지역_충청북도', '공급유형_공공임대(10년)',
       '공급유형_공공임대(50년)', '공급유형_공공임대(분납)', '공급유형_국민임대', '공급유형_영구임대',
       '공급유형_행복주택'],
      dtype='object')

In [97]:
df1.columns

Index(['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료',
       '도보 10분거리 내 지하철역 수(환승노선 수 반영)', '도보 10분거리 내 버스정류장 수', '단지내주차면수',
       '등록차량수', '임대건물구분_아파트', '지역_강원도', '지역_경기도', '지역_경상남도', '지역_경상북도',
       '지역_광주광역시', '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_서울특별시',
       '지역_세종특별자치시', '지역_울산광역시', '지역_전라남도', '지역_전라북도', '지역_제주특별자치도', '지역_충청남도',
       '지역_충청북도', '공급유형_공공임대(10년)', '공급유형_공공임대(50년)', '공급유형_공공임대(5년)',
       '공급유형_공공임대(분납)', '공급유형_국민임대', '공급유형_영구임대', '공급유형_장기전세', '공급유형_행복주택'],
      dtype='object')

In [69]:
pred = rf_grid_search.best_estimator_.predict(test_x)

ValueError: X has 42 features, but RandomForestRegressor is expecting 48 features as input.